@import 'Utils';

.hero-awards {
   background-color: var(--black);
   color: var(--white);
   max-width: unset;

   &-wrapper {
      padding: 4rem;
      gap: 4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include max-width();

      @media only screen and (min-width: 1000px) {
         flex-direction: row;
         justify-content: space-between;
         gap: 4rem;
         margin: 4rem auto;
         padding: 4rem 0;
      }
   }

   &-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &>img {
         max-width: 4rem;
         max-height: 4rem;
      }

      &>strong {
         @include text-mini-bold();
         font-size: 3.5rem;
         margin-top: 0.5rem;

         &::after {
            content: '+';
            font-size: 1rem;
         }
      }

      &>q {
         color: var(--silver);

      }
   }

}