@import 'Utils';

.header {
   background-color: var(--black-light);
   color: var(--white);
   padding-top: 8rem;
   padding-bottom: 4.5rem;
   position: relative;
   max-width: unset;

   &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 4rem;
      background-color: var(--black);
      top: -4rem;
      left: 0;
   }

   @media only screen and (min-width: 1000px) {
      &-buttons {

         &>.button-primary {
            display: inline-block;
         }

         &>.button-secondary {
            display: inline-block;
            margin-left: 2rem;
         }
      }

   }

   &>h3 {
      font-size: 0.75rem;
      @include text-normal-bold();
      @include max-width();
   }

   &>h1 {
      font-size: 3.5rem;
      margin: 2.5rem 0;
      @include max-width();
   }

   &-buttons {
      @include max-width();

      &>.button-primary {
         margin: 1.5rem 0;
      }
   }


   &-navigation {
      background-color: var(--white);
      padding: 1.325rem 1.5rem 1rem;
      position: absolute;
      right: 1rem;
      bottom: 0;
      color: var(--black);

      &>b:last-child {
         color: var(--main);
      }

      @media only screen and (min-width: 1000px) {
         right: calc(50% - 480px);
      }
   }

   &-grid-toggle {
      position: absolute;
      height: 100%;
      width: 3.5rem;
      left: 0;
      top: 0;
      background-color: var(--white);
      transform: translateX(-110%);
      display: none;
      align-items: center;
      justify-content: center;

      &>img {
         max-width: 1.5rem;
         max-height: 1.5rem;
      }

      @media only screen and (min-width: 1000px) {
         display: flex;
      }
   }
}