.hero-rooms {
   margin-bottom: 2rem;

   &>strong {
      text-align: center;
   }

   &>h2 {
      text-align: center;
   }

   &-properties {
      // position: absolute;
      position: relative;
      width: fit-content;
      margin: auto;
      z-index: 2;
      bottom: -1rem;
   }

   &-room {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 26rem;
      margin: auto;
      padding: 1rem 3rem;
      gap: 1.5rem;
      text-align: center;
      height: 100%;
      flex-grow: 1;
   }

   &-swiper {
      width: 100%;
      height: 100%;
      max-width: 50rem;
      --swiper-pagination-color: var(--main);
      --swiper-navigation-color: var(--white);
      --swiper-navigation-sides-offset: 1.5rem;
      --swiper-navigation-size: 1.25rem;

      .icon-navigation--left,
      .icon-navigation--right {
         position: absolute;
         z-index: 1;
         left: 0.5rem;
         top: 50%;
         transform: translateY(-50%);
         background-color: var(--main);
      }

      .icon-navigation--right {
         right: 0.5rem;
         left: unset;
      }

      .swiper-button-disabled {
         background-color: var(--white) !important;
         opacity: 0.5 !important;
      }

      .swiper-pagination {
         position: relative !important;
         top: 0 !important;
         height: 2rem !important;
         display: flex;
         align-items: center;
         justify-content: center;
      }

      .swiper-wrapper {
         height: 100%;
      }

      .swiper-slide {
         display: flex;
         justify-content: center;
         align-items: center;

         & img {
            display: block;
            max-width: 100%;
            max-height: 100%;
         }
      }
   }


   &-swiper-text {
      width: 90%;
      height: 100%;
      max-width: 30rem;
      position: relative;
      top: -2rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 0.25rem;

      .swiper-slide {
         height: auto;
         display: flex;
         justify-content: center;
         align-items: center;
         background-color: var(--white);
      }
   }
}