@import 'Utils';

.room {
   &-properties {
      display: flex;
      padding: 0 1rem;
      box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
      width: fit-content;
      background-color: var(--white);
      box-shadow: 0px 8px 16px rgba(138, 138, 138, 0.05);
      border-radius: 0.125rem;
   }

   &-name {
      @include text-title();
      font-size: 1.75rem;
   }

   &-description {
      color: var(--grey);
      @include text-mini();
   }

   &-price {
      color: var(--main);
      font-size: 2rem;

      &::before {
         content: '$';
      }

      &::after {
         content: '/Night';
         font-size: 0.5em;
      }
   }

}